<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <!-- Category -->
            <div class="single category">
                <h3 class="side-title">About us. </h3>
                <ul class="list-unstyled">
                    <li><a href="" title="">About AskMe <span class="pull-right"></span></a></li>
                    <li><a href="" title="">Terms of use <span class="pull-right"></span></a></li>
                    <li><a href="" title="">Safety center <span class="pull-right"></span></a></li>
                    <li><a href="" title="">Help <span class="pull-right"></span></a></li>
                    <li><a href="" title="">Privacy policy <span class="pull-right"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="copyright">© AskMe 2020 | <span><a href="https://github.com/mahomudgamalfcis/askme">Github</a></span></div>
</div>