<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <!-- Category -->
            <div class="single category">
                <h3 class="side-title">Friends - Leadership</h3>
                <ul class="list-unstyled">
                    <li><a href="" title="">Mahmoud Elgazzar <span class="pull-right"><img src="./../../../../assets/images/friends-section/Capture.PNG"/></span></a></li>
                    <li><a href="" title="">Mahmoud Elgazzar <span class="pull-right"><img src="./../../../../assets/images/friends-section/Capture.PNG"/></span></a></li>
                    <li><a href="" title="">Mahmoud Elgazzar <span class="pull-right"><img src="./../../../../assets/images/friends-section/Capture.PNG"/></span></a></li>
                    <li><a href="" title="">Mahmoud Elgazzar <span class="pull-right"><img src="./../../../../assets/images/friends-section/Capture.PNG"/></span></a></li>
                    <li><a href="" title="">Mahmoud Elgazzar <span class="pull-right"><img src="./../../../../assets/images/friends-section/Capture.PNG"/></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>