<!--Profile Box of the profile-->
<div class="container">
    <app-profile-box-header></app-profile-box-header>
</div>

<!--Rest Of the page content-->
<div class="container">
    <!--Left Part Of the profile Page-->
    <div class="left-part-of-page">
        <app-question></app-question>
        <app-wall-post></app-wall-post>
    </div>
    <!--Right Part of the profile Page-->
    <div class="right-part-of-page">
        <app-profile-stats></app-profile-stats>
        <app-aboutme></app-aboutme>
        <app-aboutus-section></app-aboutus-section>
    </div>




</div>