<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <!-- Category -->
            <div class="single category">
                <h3 class="side-title">Profile Stats </h3>
                    <div class="whole-section">
                        <div class="posts-stats">
                            <label>1215</label>
                            <label>Posts</label>
                        </div>

                        <div class="vertical-line"></div>

                        <div class="posts-stats">
                            <label>215</label>
                            <label>Likes</label>
                        </div>

                        <div class="vertical-line"></div>


                        <div class="posts-stats">
                            <label>125</label>
                            <label>Followers</label>
                        </div>


                    </div>


            </div>
        </div>
    </div>
    <hr>
    
</div>