<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <!-- Category -->
            <div class="single category">
                <header class="wallPostHeader" dir="ltr">
                    <h3 class="side-title">How are you today?</h3>
                </header>
                
                <div class="metaDataOwnerPost">
                    <a href="#"><img src="./../../../../assets/images/wall-post-section/Capture.PNG" class="photoOfOwner" alt="Photo Of Owner"></a>
                    <a href="#" class="nameOfOwnerPost">Mahmoud Elgazzar</a>
                </div>
                
                <div class="answerOfOwnerPost" dir="ltr">
                    <p>I am Good, what about you?</p>
                </div>
                
                
                <div class="like-counter-share-zone">
                    <div class="like-counter-zone">
                        <a href="#"><img src="./../../../../assets/images/wall-post-section/heart.PNG"></a>
                        <label>1</label>
                    </div>
                    <div class="share-more-zone">
                        <a href="#"><img src="./../../../../assets/images/wall-post-section/share.PNG"></a>
                        <a href="#"><img src="./../../../../assets/images/wall-post-section/more.PNG"></a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <hr>
</div>