<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <!-- Category -->
            <div class="single category">
                <div class="img-names-section">
                    <div class="image-zone">
                       <a [routerLink]="['/profile']"> <img src="./../../../../assets/images/friends-section/Capture.PNG"></a>
                    </div>
                    <div class="names-zone">
                        <h5>Mahmoud Elgazzar</h5>
                        <h6 style="margin-bottom: 7px;">@mgelgazzar</h6>
                       
                    </div>

                </div>
                
                <div class="share-online-section">
                    <div class="online-zone">
                        <div class="dot"></div>
                        <div class="online-section">online</div>
                    </div>
                    <div class="share-zone"></div>
                    <div class="more-zone"></div>
                </div>


            </div>
        </div>
    </div>
    <hr>
    
</div>