<!--Left part of home parent (Wall Post component)-->
<div class="wallPostZone">
    <!--Up part for Question component-->
    <div class="questionZone">
        <app-question></app-question>

    </div>
    <!--Down part for Wall post component-->
    <div class="wall-post-zone"> 
        <app-wall-post></app-wall-post>

    </div>

</div>

<!--Right part of home parent (friends Section , about us section)-->
<div class="friends-aboutus-section">
    <!--Up part (friends section)-->
    <div class="friendsZone">
        <app-friends-section></app-friends-section>
    </div>
    <!--Down part (about us section)-->
    <div class="aboutusZone">
        <app-aboutus-section></app-aboutus-section>
    </div>
</div>