<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <!-- Category -->
            <div class="single category">
                <h3 class="side-title">About Me. </h3>
                <ul class="list-unstyled">
                    <li><a href="" title="">Sentence You Can Add Here By Your Selef <span class="pull-right"></span></a></li>
                    <li><a href="" title="">Location Of Yours <span class="pull-right"></span></a></li>
                    <li><a href="" title="">Links You prefere <span class="pull-right"></span></a></li>
                    <li><a href="" title="">Hash Tags (#sports, #tech)<span class="pull-right"></span></a></li>
                    
                </ul>
            </div>
        </div>
    </div>
    <hr>
</div>